<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TjOsMapper">
    
    <resultMap type="TjOs" id="TjOsResult">
        <result property="id"    column="id"    />
        <result property="os"    column="os"    />
        <result property="osName"    column="os_name"    />
        <result property="pv"    column="pv"    />
        <result property="uv"    column="uv"    />
        <result property="vv"    column="vv"    />
        <result property="iv"    column="iv"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectTjOsVo">
        select id, os, os_name, pv, uv, vv, iv, user_id from tj_os
    </sql>

    <select id="selectTjOsList" parameterType="TjOs" resultMap="TjOsResult">
        <include refid="selectTjOsVo"/>
        <where>  
            <if test="os != null  and os != ''"> and os = #{os}</if>
            <if test="osName != null  and osName != ''"> and os_name like concat('%', #{osName}, '%')</if>
            <if test="pv != null "> and pv = #{pv}</if>
            <if test="uv != null "> and uv = #{uv}</if>
            <if test="vv != null "> and vv = #{vv}</if>
            <if test="iv != null "> and iv = #{iv}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectTjOsById" parameterType="Long" resultMap="TjOsResult">
        <include refid="selectTjOsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTjOs" parameterType="TjOs">
        insert into tj_os
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="os != null">os,</if>
            <if test="osName != null">os_name,</if>
            <if test="pv != null">pv,</if>
            <if test="uv != null">uv,</if>
            <if test="vv != null">vv,</if>
            <if test="iv != null">iv,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="os != null">#{os},</if>
            <if test="osName != null">#{osName},</if>
            <if test="pv != null">#{pv},</if>
            <if test="uv != null">#{uv},</if>
            <if test="vv != null">#{vv},</if>
            <if test="iv != null">#{iv},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>

    <update id="updateTjOs" parameterType="TjOs">
        update tj_os
        <trim prefix="SET" suffixOverrides=",">
            <if test="os != null">os = #{os},</if>
            <if test="osName != null">os_name = #{osName},</if>
            <if test="pv != null">pv = #{pv},</if>
            <if test="uv != null">uv = #{uv},</if>
            <if test="vv != null">vv = #{vv},</if>
            <if test="iv != null">iv = #{iv},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTjOsById" parameterType="Long">
        delete from tj_os where id = #{id}
    </delete>

    <delete id="deleteTjOsByIds" parameterType="String">
        delete from tj_os where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>